code {
  color: #fff;
  background-color: #404345;
  border-radius: 4px;
  padding: 0 5px;
}

.text {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  margin: 20px 0;
  text-align: justify;
}

h3 {
  font-size: 30px;
  color: #d2df25;
  font-weight: bold;
}