* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
}

a{
  text-decoration: none;
  color: #c93164;
}

a:hover{
  color: #1b4f72;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
